<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link href='http://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<div class="wrapper">

    {{! Everything else gets inserted here }}
    {{{body}}}


    <footer class="site-footer">
        <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
             <section class="poweredby"><a class="subscribe icon-feed" href="{{@blog.url}}/rss/">feed</a> / Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </footer>


</div>


    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>